.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.item:nth-child(1) {
    grid-row: 1 / span 2;
}

.item:nth-child(2) {
    grid-row: 1 / span 2;
}

.item {
    padding: 12px;
}

.item > div {
    width: 100%;
    height: 100%;
    background-color: #f6f7fb;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.main {
    position: relative;
    text-align: center;
}

.main h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.canvasWrapper {
    width: 520px;
    height: 345px;
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.main canvas {
    border-radius: 20 !important;
}

.alleyList {
    height: 288px !important;
}

.alleyList > div::-webkit-scrollbar {
    width: 20px;
}
.alleyList > div::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px 20px 20px 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
}
.alleyList > div::-webkit-scrollbar-track {
    background-color: #f6f7fb;
    border-radius: 0px 20px 20px 0px;
}

.alleyList > div {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.alley {
    padding-left: 30px;
    padding-right: 30px;
}

.alley h1 {
    font-size: 38px;
    padding-top: 12px;
}

.alley > ul {
    margin-left: 20px;
    margin-right: 20px;
}

.alley .title > span {
    color: #e24462;
    font-size: 16px;
    font-weight: 500;
}

.alley > ul > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.alley .title > span,
img {
    vertical-align: bottom;
}

.alley img {
    width: 22px;
    height: 22px;
    padding-right: 6px;
}
