.sideMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sideMenu > div {
    position: relative;
    width: 72px;
    height: 72px;
}

.sideMenu img {
    width: 30px;
    height: 30px;
}

.notification img {
    width: 32px;
    height: 32px;
}

.war img {
    width: 26px;
    height: 26px;
}

.build img {
    width: 38px;
    height: 38px;
}

.sideMenu button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #f6f7fb;
}

.sideMenu button:hover {
    background-color: #eeedee;
}

.sideMenu .selected {
    background-color: #eeedee;
}
